@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

@page {
	size: A4;
	margin: 0.2in;
}

body .card-container {
	box-sizing: border-box;
	margin: 0.1in;
}

button {
	padding: 10px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;

	transition: background-color 0.2s;
}

button:hover {
	background-color: lightgray;
}

button:active {
	background-color: darkgray;
}