h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
}

.card-title-container {
	padding-left: 0.1in;
	padding-right: 0.1in;
	padding-top: 0.1in;

	display: flex;
	flex-direction: row;
	gap: 0.1in;
}

.card-title {
	flex-grow: 1;
	font-weight: bold;
}

.card-mana-cost {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-notes {
	font-size: 0.09in;
}

.card-mana-cost > * {
	margin-left: 0.01in;
}

.card-container {
	width: 2.5in;
	height: 3.5in;
	max-width: 2.5in;
	max-height: 3.5in;
	border-radius: 0.125in;
	border: 1px solid black;
	font-size: 0.1in;
	break-inside: avoid;

	display: flex;
	flex-direction: column;
}

.card-container > * {
	padding-left: 0.1in;
	padding-right: 0.1in;
}

.card-container h1 {
	font-size: 0.125in;
}

.card-container .card-divider {
	border-bottom: 1px solid black;
	margin-bottom: 0.05in;
	margin-top: 0.05in;
}

.card-title-block {
	height: 0.5in;
	background-color: green;
}

.card-oracle-text {
	display: inline-block;
	white-space: pre-wrap;
}

.card-flavor-text {
	font-style: italic;
}

.card-bottom-container {
	display: flex;
	flex-direction: row;
	gap: 0.05in;
	justify-items: baseline;
	margin-bottom: 0.05in;
}

.card-bottom-container p:first-of-type {
	font-style: italic;
	flex-grow: 1;
	height: min-content;
	margin-top: auto;
}

.card-power-toughness {
	padding: 0.05in;
	border: 1px solid black;
	border-radius: 0.1in;
}

.card-container .grow {
	flex-grow: 1;
}

.mana-symbol {
	width: 0.125in;
	height: 0.125in;
	/*margin-top: calc(0.16in * 0.25);*/
	display: inline-block;
	/*align-self: flex-start;*/
}

.mana-symbol-small {
	width: 0.1in;
	height: 0.1in;
	/*margin-top: calc(0.15in * 0.25);*/
	display: inline-block;
	/*align-self: flex-start;*/
}