h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
}

#card-preview-title-container {
	padding-left: 0.1in;
	padding-right: 0.1in;
	padding-top: 0.1in;
}

#card-preview-notes {
	font-size: 0.09in;
}

#card-preview-cost > * {
	margin-left: 0.01in;
}

#card-preview-power-toughness {
	padding: 0.05in;
	margin: 0.05in 0;
	border: 1px solid black;
	border-radius: 0.1in;
}

.card-container {
	width: 2.5in;
	height: 3.5in;
	max-width: 2.5in;
	max-height: 3.5in;
	border-radius: 0.125in;
	border: 1px solid black;
	font-size: 0.1in;
}

.card-container > * {
	padding-left: 0.1in;
	padding-right: 0.1in;
}

.card-container h1 {
	font-size: 0.125in;
}

.card-title-block {
	height: 0.5in;
	background-color: green;
}

.mana-symbol {
	width: 0.125in;
	height: 0.125in;
	/*margin-top: calc(0.16in * 0.25);*/
	display: inline-block;
	/*align-self: flex-start;*/
}

.mana-symbol-small {
	width: 0.1in;
	height: 0.1in;
	/*margin-top: calc(0.15in * 0.25);*/
	display: inline-block;
	/*align-self: flex-start;*/
}